@charset "utf-8";
.limitsShiro{float:left; width:770px; color:#4f4f4f; line-height:32px;}
.limitsShiro1{float:left; width:768px; border:1px solid #cecece; margin-top:5px;overflow: auto;height:300px;}
