package com.loiot.baqi.controller;

	
	spring-shiro.xml 配置内容
	
	<!-- 建议 -->
	/tgSuggestBugInfo/list.action=perms["tgSuggestBugInfo:list"]
	/tgSuggestBugInfo/toAdd.action=perms["tgSuggestBugInfo:add"]
	/tgSuggestBugInfo/add.action=perms["tgSuggestBugInfo:add"]
	/tgSuggestBugInfo/toEdit.action=perms["tgSuggestBugInfo:edit"]
	/tgSuggestBugInfo/edit.action=perms["tgSuggestBugInfo:edit"]
	/tgSuggestBugInfo/toView.action=perms["tgSuggestBugInfo:detail"]
	
	
	/tgSuggestBugInfo/modifyDeleteStatus.action=perms["tgSuggestBugInfo:modifyDeleteStatus"]
	
	权限sql
	INSERT INTO permission values (10800,'建议管理','tgSuggestBugInfo:list'); 
	INSERT INTO permission values (10801,'建议添加','tgSuggestBugInfo:add'); 
	INSERT INTO permission values (10802,'建议修改','tgSuggestBugInfo:edit'); 
	INSERT INTO permission values (10803,'建议详情','tgSuggestBugInfo:detail'); 
	INSERT INTO permission values (10804,'停用启用建议','tgSuggestBugInfo:disableAndEnabled'); 
